*{
    background-color: rgb(189, 92, 92);
}
a{
    text-decoration: none;
    margin: 10px;
}
h1, h2{
    text-decoration: underline
}
.Contenido{
    display: flex;
}
#museo{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 75px;
}